:root {
	--darkred: #0D2149;
	--platinum: #e5e5e5;
	--black: #0D2149;
	--thumb: #f8f8f8;
  }
  
  * {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
  }
  
  .card-title{
  padding-top: 2em;
  padding-bottom: 0.3em;
  font-weight: 700;
  font-size: 1.711em;
}


  body {
	font-size: 1em;
	color: var(--black);
	background: var(--platinum);
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .mi-clase {
    display: flex;
    padding-bottom: 1em;
    font-size: 0.917em;
  }

  .mi-clase2 p {
    color: #0D2149;
    font-weight: 500;
    padding-bottom: 2em;
    font-size: 1.069em;
  }

  .mi-clase p {
    text-align: left;
    background-color: #0D2149;
    color: #CBD3F2;
    padding: 5px 10px;
    margin: 0;
    margin-right: 10px; /* Espacio entre los párrafos */
    font-weight: 700;
  }
  
  .container {
	max-width: 1400px;
  }

  .cards {
    text-align: left;
    display: flex;
    padding: 25px 0px;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    flex-wrap: nowrap; /* Evita que las tarjetas se envuelvan */
    justify-content: flex-start; /* Alinea las tarjetas al principio */
    width: calc(100% + 30px); /* Ancho suficiente para tres tarjetas más el espacio entre ellas */
}

  .card {
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(30% - 500px); /* Ancho para mostrar tres tarjetas */
    padding: 2.3em;
    background: var(--white);
    border-radius: 12px;
    border: 3px solid#0D2149;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    scroll-snap-align: start;
    transition: all 0.2s;
    height: auto;
    font-size: 0.8em;
}

.card:last-child {
    margin-right: 0; /* Elimina el margen derecho de la última tarjeta */
}
  
  .card:not(:last-child) {
	margin-right: 10px;
  }
  
  .card:hover {
	color: var(--white);
	background: var(--red);
  }
  
  .card .card-title {
	font-size: 20px;
  }
  
  .card .card-content {
	margin: 20px 0;
  }
  
  
  .cards::-webkit-scrollbar {
	height: 12px;
  }
  
  .cards::-webkit-scrollbar-thumb,
  .cards::-webkit-scrollbar-track {
	border-radius: 92px;
  }
  
  .cards::-webkit-scrollbar-thumb {
	background: var(--darkred);
  }
  
  .cards::-webkit-scrollbar-track {
	background: var(--thumb);
  }
  

  @media (min-width: 400px) {
    .card {
      flex-basis: calc(calc(100% / 1) - 20px);

    }
    
    .card:not(:last-child) {
      margin-right: 20px;
    }
    }
    
  
  @media (min-width: 700px) {
	.card {
	  flex-basis: calc(calc(100% / 2) - 20px);
	}
  
	.card:not(:last-child) {
	  margin-right: 30px;
	}
  }
  
@media (min-width: 1100px) {
  .card {
    flex-basis: calc(calc(100% / 3) - 30px);
  }
  
	.card:not(:last-child) {
	  margin-right: 40px;
	}
  }

  