#tole {
    background-color: #0D2149; 
    padding: 20px; 
    padding: 3em 3em 3em 3em;
}

#tole p {
    font-size: 1em; 
}


.engaños-container {
    display: flex; /* Utilizar flexbox */
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

.engaños-container2 {
    display: flex; /* Utilizar flexbox */
    align-items: center;
    justify-content: center;
    margin-top: -0.5em;
}

#tole .engaño {
    color: #0D2149; /* Color de texto rojo */
    font-weight: bold; /* Texto en negrita */
    padding: 10px; /* Ajuste del espacio alrededor del texto */
    background-color: #CBD3F2; /* Fondo de color amarillo */
    display: flex; /* Utilizar flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    width: auto; /* Ancho del rectángulo */
    height: 2em; /* Altura del rectángulo */
    margin-right: 10px; 
}

#tole h2{
    font-size: 2em;
    margin-bottom: 0.5em;
    color: #f8f8f8;
}




@media (max-width: 768px) {
    /* Se aplicarán estos estilos cuando el ancho del viewport sea de 768px o menos */
    body {
        font-size: 14px; /* Reducir el tamaño de fuente base */
    }

    #tole {
        padding: 2empx; /* Reducir el relleno */
    }

    #tole p{
     font-size: 16px;
    }

}



/* CAROUSEL */

* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 4em;
}

.slideshow-container .a{
    text-decoration: none;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.text {
  color: #f8f8f8;
  font-size: 16px;
  padding: 1em 10em;
  bottom: 8px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.title {
  color: #f8f8f8;
  font-size: 28px;
  font-weight: 700;
  padding: 8px 12px;
  top: 0;
  text-align: center;
  margin-top: 20px;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: rgba(248, 248, 248, 0.2); /* Color con menor opacidad */
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }  

  .dot.active {
    background-color: red;
}


/* Fading animation */


@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media screen and (max-width: 768px) {
    .prev, .next {
      padding: 12px;
      font-size: 16px;
      margin-top: -40px; /* Ajusta este valor según sea necesario para aumentar el espacio */
    }
  
    .prev {
      left: -2em; /* Ajusta la posición de .prev */
    
    }
  
    .next {
      right: -2em; /* Ajusta la posición de .next */
     
    }
    
    .title {
      font-size: 24px;
    }
    
    .text {
      font-size: 14px;
      padding: 0.5em;
    }

  }










  /*-------------------------------- PESTAÑA INSTALAR ---------------------------------*/

  #oreo {
    background-color: #0D2149; 
    padding: 20px; 
    padding: 3em 3em 3em 3em;
}

    #oreo p {
    font-size: 1em; 
}

    #oreo h2{
    font-size: 2em;
    margin-bottom: 0.5em;
    color: #f8f8f8;

}

#oreo h1{
  font-size: 3em;
  margin-bottom: 0.5em;
  color: #f8f8f8;

}


/* Columnas */

.column {
    float: left;
    width: 100%;
    
  }

.row {
  display: flex;
  flex-wrap: wrap; /* Permite que las columnas se colapsen en una nueva fila */
}
  
@media screen and (min-width: 600px) {
    /* En dispositivos con un ancho de pantalla mínimo de 600px, las columnas ocuparán el 50% del ancho */
    .column {
    width: 50%;
    }
  }


  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }




  /* Desplegable */

  .columna2{
    background-color: #CBD3F2;
    padding: 2em;
    margin-left: 4em;
    border-radius: 20px;
  }

  .collapsible {
    background-color: transparent;
    color: #0D2149;
    font-weight: 600;
    cursor: pointer;
    padding-left: 0em;
    margin-left: 0;
    width: 100%;
    border: none;
    border-bottom: 3px solid #0D2149;
    padding-bottom: 1em;
    text-align: left;
    outline: none;
    font-size: 18px;
    justify-content: left;
    text-transform: none;
  }
  
  .active, .collapsible:hover {
    background-color: transparent;
  }
  
  .collapsible:after {
    content: '\002B';
    color: #0D2149;
    font-weight: bold;
    float: right;
    margin-left: auto;
    
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding-top: 0.5em;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: transparent;
  }

  .ola{
    color: #0D2149;
  }

  .h3titulo{
    color: #0D2149;
    font-size: 28px;
  }





  /* FORMS */

 /* Styles para el formulario dentro de .Preguntas */
    .Preguntas form {
    /* Add background color and padding */
    border-radius: 20px;
    background-color: #4D608D;
    padding: 20px;
  }
  
  /* Styles para inputs de texto, selects y textareas dentro de .Preguntas */
  .Preguntas input[type=text], 
  .Preguntas select, 
  .Preguntas textarea {
    /* Estilos para los inputs de texto, selects y textareas */
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border-radius: 10px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    color: #0D2149;
  }
  
  /* Styles para el botón de envío dentro de .Preguntas */
  .Preguntas input[type=submit] {
    /* Estilos para el botón de envío */
    background-color: #0D2149;
    color: #f8f8f8;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  /* Cuando el mouse pasa sobre el botón de envío, agregar un color verde más oscuro */
  .Preguntas input[type=submit]:hover {
    background-color: #2AB9D5;
  }
  
  .Preguntas input[type=text]::placeholder {
    color: #0D2149; /* Color del placeholder */
  }
  
  /* Cambiar el color del texto del placeholder del textarea de comentario */
  .Preguntas textarea::placeholder {
    color: #0D2149; /* Color del placeholder */
  }



  .Preguntas input[type=file] {
    /* Estilos para el input de tipo file */
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border-radius: 10px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    border: none; /* Quitar el borde */
    background-color: #f2f2f2; /* Background color */
    color: #0D2149; /* Text color */
  }
  



  
  /* ---------------------- CONTACTO ------------------------- */

  #contacto{
    padding: 3em;
    background-color: #CBD3F2;
    color: #0D2149;
    
  }

  #contacto p{
    color: #0D2149;

  }